doctype html
html
head
    // HTTPS required. HTTP will give a 403 forbidden response

    link(rel='stylesheet' href='static/stylesheets/bulma/css/bulma.css')
    link(rel='stylesheet' href='static/stylesheets/css/utils.css')
    link(rel='stylesheet' href='static/stylesheets/css/login.css')

    script(src="https://sdk.accountkit.com/en_US/sdk.js")

body
    script.
        window.fbAsyncInit = function () {
            FB.init({
                appId: '1766166693650560',
                xfbml: true,
                version: 'v2.8',
                debug: true
            });
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {
                return;
            }
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));


    .login-box
        .login-welcome-box
            .login-welcome WELCOME
            .login-little LITTLE ONE
        .login-sub-box
            .login-sub-up.
                Let the #[span.login-highlight bot] do your work
            .lobin-sub-sub - or not -
        .login-chose-box
            .login-chose Chose your way in!
            .level.login-level
                .level-item.has-text-centered
                    span
                        button.no-button(onclick="phone_btn_onclick()")
                            figure
                                img.phone(src="static/img/phone.png")
                                figcaption.login-figcaption SMS
                .level-item.has-text-centered
                    span
                        button.no-button(onclick="email_btn_onclick()")
                            figure
                                img.email(src="static/img/email.png")
                                figcaption.login-figcaption E-MAIL


    form#my_form(action="/auth" method="post" hidden)
        input#code(type="text"  name="code")
        input#csrf_nonce(type="text" name="csrf_nonce")


    script.
        // initialize Account Kit with CSRF protection
        AccountKit_OnInteractive = function () {
            AccountKit.init(
                    {
                        appId: #{appId},
                        state: '#{csrf}',
                        version: '#{apiVersion}'
                    }
            )
        }

        // login callback
        function loginCallback(response) {
            if (response.status === "PARTIALLY_AUTHENTICATED") {
                console.log(response);
                document.getElementById("code").value = response.code;
                document.getElementById("csrf_nonce").value = response.state;
                document.getElementById("my_form").submit();
            }
            else if (response.status === "NOT_AUTHENTICATED") {
                // handle authentication failure
                console.log(response.status);
            }
            else if (response.status === "BAD_PARAMS") {
                // handle bad parameters
                console.log(response.status);
            }
        }

        // phone form submission handler
        function phone_btn_onclick() {
            AccountKit.login('PHONE', {countryCode: null, phoneNumber: null},
                    loginCallback);
        }

        // email form submission handler
        function email_btn_onclick() {
            AccountKit.login('EMAIL', {emailAddress: null}, loginCallback);
        }






