doctype html
head
    meta(charset="utf-8")
    title Telebot App

    link(rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png")

    script(src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous")
    script(src="/scripts/socket.io.js")
    script.
        socket = io();
body

    #chatWindow
        #chats(style={width: '200px', height: '100%'})

        div(style={float: 'right', height: '100%'})
            #chatBox

            #messageBox
                form#messageForm(action="/sendBot" method="post")
                    input#messageInput(type="text" name="text")
                    button#sendButton(type="submit") Send


    script.
        var messageForm = document.getElementById('messageForm');
        var messageInput = document.getElementById('messageInput');
        var chatBox = document.getElementById('chatBox');
        var chats = document.getElementById('chats');

        messageForm.addEventListener('submit', function (e) {
            e.preventDefault();

            var text = messageInput.value;

            var data = {
                text: text
            }

            socket.emit('chat message', data);

            chatBox.innerHTML += 'Telebot[user]: ' + text + '<br><br>';
            messageInput.value = "";
        })

        socket.on('chat message', function (msgObj) {
            chatBox.innerHTML += msgObj.name + ': ' + msgObj.text + '<br><br>';
        });


        socket.on('new user', function (user) {
            chats.innerHTML += '<div>' + user.name + '</div>';
        });

        function populateMessages (obj) {
            $.each(obj, function(key, value) {
                chatBox.innerHTML += value.name + ': ' + value.text + '<br><br>';
            });
        }

        function populateClients(obj) {
            $.each(obj, function (key, value) {
                chats.innerHTML += '<div>' + value.name + '</div>';
            });
        }

        populateClients(!{jsonClients});
        populateMessages(!{jsonMessages});