doctype html
head
    meta(charset="utf-8")
    title Telebot App

    link(rel="icon" type="image/png" sizes="32x32" href="static/img/favicon/favicon-32x32.png")

    link(rel='stylesheet' href='static/stylesheets/bulma/css/bulma.css')
    link(rel='stylesheet' href='static/stylesheets/font-awesome-4.7.0/css/font-awesome.min.css')

    link(rel='stylesheet' href='static/stylesheets/css/chatRoom.css')

    script(src="/scripts/socket.io.js")
    script.
        socket = io();
body

    #container

    script#initialState.
        var initialState = !{initialState}

    script(src="static/scripts/bundle.js")

    script.
        socket.on('new user', function (user) {

                    let userData = {
                        chatId: user.chat_id,
                        first_name: user.first_name,
                        last_name: user.last_name,
                        avatar: user.avatar,
                        messages: []
                    }

            console.log(userData)

            window.newUser(userData)
        });

        socket.on('chat message', function (msgObj) {

            let msgData = {
                chatId: msgObj.chat_id,
                author: msgObj.name,
                type: msgObj.type,
                text: msgObj.text,
                date: msgObj.date
            }

            console.log(msgData);

            window.newMessage(msgData)
        });

