html
  head
    title= title

    link(rel='stylesheet' href='static/stylesheets/bulma/css/bulma.css')

    link(rel='stylesheet' href='static/stylesheets/css/chatRoom.css')

  body
    h1= message

    #container

    script#initialState.
      var initialState = !{initialState}

    script(src="static/scripts/bundle.js")

