doctype html
head
    meta(charset="utf-8")
    title Telebot App

    link(rel="icon" type="image/png" sizes="32x32" href="static/img/favicon/favicon-32x32.png")

    link(rel='stylesheet' href='static/stylesheets/bulma/css/bulma.css')
    link(rel='stylesheet' href='static/stylesheets/font-awesome-4.7.0/css/font-awesome.css')

    link(rel='stylesheet' href='static/stylesheets/css/chatRoom.css')

    script(src="/scripts/socket.io.js")
    script.
        var socket = io('http://localhost:3000');

body

    .center-page.no-chat.
        Nenhum chat iniciado


    script(src="static/scripts/bundle.min.js")
    script.
        socket.on('new client', function () {
            location.reload();
        });

